body {
    background: #f1f1f1;
    padding-top: 70px;
    padding-right: 40px;
}

header {
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    z-index: 5;
    background: #319146;
    box-shadow: 0 2px 4px rgba(49, 145, 70, .2);
}

header input {
    width: calc(100% - 90px);
    height: 50px;
    float: left;
    background: rgba(255, 255, 255, .4);
    border-radius: 5px;
    border: 0;
    text-indent: 16px;
    padding: 0 60px 0 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

header button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 45px;
    z-index: 2;
    border-radius: 25px;
    border: 0;
    outline: 0;
    background: white;
}

.pluss {
    position: relative;
    bottom: 2px;
    left: 7px;
    width: 24px;
    height: 4px;
    background-color: #319146;
    border-radius: 2px;
}

    .vertical {
        transform: rotate(90deg);
    }

    .horizontal {
        top: 2px;
    }

.container {
    width: 100%;
    float: left;
}

ul.todo {
    width: 100%;
    float: left;
}

ul.todo li {
    position: relative;
    width: 100%;
    height: 50px;
    float: left;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(100, 100, 100, .4);
    margin-bottom: 10px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #444;
    line-height: 30px;
    padding: 16px 0px 0px 16px;
}
    ul.todo li:last-of-type {
        margin: 0;
    }

ul.todo li .liButtons { 
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0;
    right: 0;
} 

ul.todo li .liButtons button {
    top: 8px;
    right: 8px;
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
    border: none;
    outline: none;
    box-shadow: none;
    background: white;
    appearance: none;
}
    ul.todo li .liButtons button:hover {
    background: #eee;
    }

    ul.todo li .liButtons button:last-of-type:before{
    content: "";
    width: 1px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 0;
    background: #d7d7d7;
    }


.remove {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.x {
    position: relative;
    left: 5px;
    width: 30px;
    height: 3px;
    border-radius: 6px;
    background: #F60022;
}
    .x1 {
        transform: rotate(45deg);
        top: 3px;
    }
    .x2 {
        transform: rotate(-45deg)
    }

.complete {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.check {
    position: absolute;
    height: 3px;
    border-radius: 6px;
    background: #319146;
}
    .big {
        transform: rotate(-45deg);
        width: 30px;
        left: 12px;
    }
    .small {
        transform: rotate(45deg);
        width: 10px;
        top: 31px;
        right: 31px;
    }


#todo {
    
    margin-top: 15px;
    padding: 15px;
}

#done {
    margin-top: 15px;
    padding: 15px;
}

#done li {
    background: rgba(80, 236, 164, 0.555)
}

#done li .liButtons button {
    background: rgba(80, 236, 164, 0.001)
}

#done li .liButtons button:hover{
    background: rgba(80, 236, 163, 0.747)
}

#done li .liButtons button .check {
    background-color: red
}

#done li .liButtons button .x {
    background-color: green
}

#done li .liButtons button:last-of-type:before {
    background: rgb(33, 197, 115);
}

#todo:empty::after {
    content: 'You have nothing to do!';
    margin-top: 15px;
}

#done:empty::after {
    content: 'You have finished and tasks';
}

#todo::after,
#done::after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #aaa;
}
